html{
     box-sizing:border-box;
   }

   *,*::before, *::after {

     box-sizing: inherit;
   }



img{
  witdh:100%;

}

header{
  positon:relative;
  overflow:hidden;
  background-color:#2c3950;


}

h1{
  position:absolute;
  bottom:-2em;
  margin:0;
  color:#fff;
  text-align: center;
  width:100%;
  transition:all 250ms linear;
  background-color: #2c3950

}


 header:hover h1{
   bottom:1em;

 }
